@model Assembley
<div class="container">
    <div class="row">
        <div class="container bg-light">
            <div class="form-group">
                <form method="post" action="~/Admin/CreateAssembley">
                    <label>Название сборочной детали:</label><br />
                    <input asp-for="@Model.Name" type="text" class="form-control" />
                    <span asp-validation-for="@Model.Name" class="text-danger"></span><br />
                    <label>Время сборки детали:</label><br />
                    <input asp-for="@Model.Time" type="text" class="form-control" />
                    <span asp-validation-for="@Model.Time" class="text-danger"></span><br />
                    <label>Руководство к сборочной детали</label>
                    <input asp-for="@Model.Manual" type="text" class="form-control" />
                    <span asp-validation-for="@Model.Manual" class="text-danger"></span><br />

                    <div class="row">

                        <script>
                            function AddDetail() {
                                $.ajax({
                                    url: "/AdminController/AddDetailById",
                                    type: "post",
                                    contentType: 'application/x-www-form-urlencoded',
                                    data: {id: 1},
                                    success: function (result) {
                                        AddHtmlDetail(result);
                                        console.log(result);
                                    }
                                });


                                function AddHtmlDetail(detail) {
                                    let mainDiv = document.getElementById("test");

                                    let div_Card = document.createElement("div");
                                    div_Card.classList.add("card", "department-card", "text-center", "m-1")

                                    let div_Card_Body = document.createElement("div");
                                    div_Card_Body.className = "card-body";

                                    let DetailName = document.createElement("h5");
                                    DetailName.className = "card-title";
                                    DetailName.innerHTML = detail.name;

                                    let DetailInfo = document.createElement("p");
                                    DetailInfo.className = "card-text";
                                    DetailInfo.innerHTML = detail.info;

                                    let DetailManual = document.createElement("h6");
                                    DetailManual.classList.add("card-subtitle", "mb-2", "text-muted");
                                    DetailManual.innerHTML = detail.manual;

                                    let DeleteButt = document.createElement("input");
                                    DeleteButt.classList.add("btn-danger", "w-75", "rounded-pill", "mw-100", "mb-1");
                                    DeleteButt.type = "submit";
                                    DeleteButt.value = "Удалить"


                                    div_Card_Body.appendChild(DetailName);
                                    div_Card_Body.appendChild(DetailInfo);
                                    div_Card_Body.appendChild(DetailManual);
                                    div_Card_Body.appendChild(DeleteButt);

                                    div_Card.appendChild(div_Card_Body);

                                    mainDiv.appendChild(div_Card);
                                };
                            }
                        </script>

                        <div class="col-12">
                            <div class="col-6 w-100">
                                <input class="bg-success" type="button" value="Добавить сборочную деталь" />
                            </div>

                            <div class="col-6 w-100">
                                <input class="bg-success" onclick="AddDetail()" type="button" value="Добавить деталь" />
                            </div>
                        </div>
                    </div>

                    <div id="test" class="w-100 d-flex flex-wrap justify-content-center">

                    </div>


                    <input type="submit" value="Отправить" />
                </form>
            </div>
        </div>
    </div>
</div>