@model Assembley
<div class="container">
    <div class="row">
        <div class="container bg-light">
            <div class="form-group">
                <form method="post" action="~/Admin/CreateAssembley">
                    <label>Название сборочной детали:</label><br />
                    <input asp-for="@Model.Name" type="text" class="form-control" />
                    <span asp-validation-for="@Model.Name" class="text-danger"></span><br />
                    <label>Время сборки детали:</label><br />
                    <input asp-for="@Model.Time" type="text" class="form-control" />
                    <span asp-validation-for="@Model.Time" class="text-danger"></span><br />
                    <label>Руководство к сборочной детали</label>
                    <input asp-for="@Model.Manual" type="text" class="form-control" />
                    <span asp-validation-for="@Model.Manual" class="text-danger"></span><br />

                    <div class="row">

                        

                        <div class="col-12">
                            <div class="col-6 w-100">
                                <input class="bg-success" type="button" value="Добавить сборочную деталь" />
                            </div>

                            <div class="col-6 w-100">
                                <input class="bg-success" onclick="AddDetail()" type="button" value="Добавить деталь" />
                            </div>
                        </div>
                    </div>

                    <div id="details" class="w-100 d-flex flex-wrap justify-content-center">

                    </div>


                    <input type="submit" value="Отправить" />
                </form>
            </div>
        </div>
    </div>
</div>